@import '../../styles/mixins';
@import '../../styles/breackpoints';

.dropdown {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  @include media($md) {
    position: relative;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    transition: transform var(--transition);
    &--open {
      transform: rotate(-180deg);
    }
    &:focus {
      @include inFocus();
    }
  }

  &__content {
    opacity: 0;

    display:inline-block;
    
    margin-top: 0;
    padding: 1rem 1rem;

    max-height: 0;

    list-style-type: none;

    background-color: var(--bg-color);
    border: 1px solid var(--main-color-hover);
    border-radius: var(--border-radius);

    z-index: 10;

    &--open {
      opacity: 1;
      max-height: 1000px;
      margin-top: 1rem;
    }
    transition: opacity var(--long-transition), max-height var(--long-transition), margin-top var(--transition);

    @include media($md) {
      position: absolute;
      top: 100%;
      left: 0;
      
    }
  }

  &__item {
    white-space: normal;

    margin-bottom: 0.3rem;
    &:last-child {
      margin-bottom: 0;
    }

    @include media($md) {
      white-space: nowrap;
    }
  }

}