// Background
$bg-color-light: #F6F8FF;
$bg-color-dark: #141D2F;

// Text color
$text-color-light: #2B3442;
$text-color-dark: #fff;

// Link hover
$hover-color-link: #697c9a;

// Info
$info-color-light: #4b6a9b;
$info-color-dark: #fff;

// Button, search ...
$main-color: #0079ff;
$main-color-hover: #60abff;

// Section color
$section-color-light: #fff;
$section-color-dark: #1e2a47;

// Transition time
$transition-time: 0.3s;

// Error color
$error-color: #F74646;

// Box shadow
$shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

